/* Form */

.topleft {
 border-right: 3px solid #caa73fa6;
}

.topmid {

}

.topright {
     border-left: 3px solid #caa73fa6;
}

.left {
     border-left: 3px solid #caa73fa6;
     border-top: 3px solid #caa73fa6;
     border-right: 3px solid #caa73fa6;
}

.mid {
    border-top: 3px solid #caa73fa6;
}

.right {
     border-left: 3px solid #caa73fa6;
     border-top: 3px solid #caa73fa6;
     border-right: 3px solid #caa73fa6;
}

.bottom {
         border-bottom: 3px solid #caa73fa6;
}