.nav-background {
    background-color: #caa73f;
}

.nav-fonts .nav-item .nav-link {
    color: #4d4632;
}

li {
    list-style: none;
}

.main-colour {
    background-color: #caa73fa6 !important;
}

.main-colour:hover {
    background-color: #caa73f !important;
}

.nav-title {
    color: #f7f7f7bd;
}

.nav-title:hover {
    color: #f7f7f7 !important;
}

a:hover {
    color: inherit !important;
}

body {
    background-color: #f7f7f7 !important;
}

.img-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}

.tac {
    text-align: center;
}

footer {
    background-color: #caa73f;
    height: 100px;
    width: 100%;
}