.nav-background {
    background-color: #caa73f;
}

.nav-fonts .nav-item .nav-link {
    color: #4d4632;
}

.nav-title {
    color: #f7f7f7bd;
}

.nav-title:hover {
    color: #f7f7f7 !important;
}

a:hover {
    color: inherit !important;
}

body {
    background-color: #f7f7f7 !important;
}